<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HOME | STADVDB MCO2</title>

        <link rel="stylesheet" type="text/css" href="css/styles.css">
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>
	</head>

	<body>
		<h1>Choose a Node</h1>
        <a href="/node1"><button>Node 1</button></a>
        <a href="/node2"><button>Node 2</button></a>
        <a href="/node3"><button>Node 3</button></a>
	</body>
</html>
