<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HOME | STADVDB MCO2</title>

        <link rel="stylesheet" type="text/css" href="css/styles.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>
	</head>

	<body>
		<h1>Go to Node:</h1>
        <a href="/node1"><button class="indexBtn">Node 1</button></a><br>
        <a href="/node2"><button class="indexBtn">Node 2</button></a><br>
        <a href="/node3"><button class="indexBtn">Node 3</button></a>

        <br>
        <br>

        <h1>Disconnect Node:</h1>
        <button id="close_node1" class="indexBtn">Node 1</button><br>
        <button id="close_node2" class="indexBtn">Node 2</button><br>
        <button id="close_node3" class="indexBtn">Node 3</button>

        <br>
        <br>

        <h1>Reconnect Node:</h1>
        <button id="reconn_all" class="indexBtn">All</button><br>
        <button id="reconn_node1" class="indexBtn">Node 1</button><br>
        <button id="reconn_node2" class="indexBtn">Node 2</button><br>
        <button id="reconn_node3" class="indexBtn">Node 3</button>
	</body>
</html>
