<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NODE 2</title>

        <link rel="stylesheet" type="text/css" href="css/styles.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/node2.js"></script>
    </head>
    <body>
        <h1>Node 2</h1>
        <h4>This is the node that contains movies from before 1980</h4>
        <a href="/"><button id="homeBtn">Return to home</button></a>
        <br>

        
        <button id="node2-qAll-btn" class="nodeBtns">Get All Movies (5000 limit)</button>
        <br>
        <br>
        <textarea rows=20 cols=100 name="queryInput" id="queryInput" placeholder="Query" required></textarea> <br>
        <input type="submit" id="node2-submit" value="QUERY" class="nodeBtns">

        <div>
            <span><h3>Number of Rows: </h3><h3 id="data-length">0</h3></span>
            <table id="movie-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Rank</th>
                </tr>
            </table>
        </div>
    </body>
</html>