<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NODE 1</title>

        <link rel="stylesheet" type="text/css" href="css/styles.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/node1.js"></script>
    </head>
    <body>
        <h1>Node 1</h1>
        <h4>This is the central node with all the records of the movies.</h4>
        <a href="/"><button id="homeBtn">Return to home</button></a>
        <br>
        
        <label for="select-fail">Choose nodes to fail:</label>
        <select name="select-fail" id="select-fail" >
            <option value="0" selected>NONE</option>
            <option value="2">Node 2</option>
            <option value="3">Node 3</option>
            <option value="10">BOTH 2 & 3</option>
        </select>
        <br>
        <br>
        <button id="node1-qAll-btn" class="nodeBtns">Get All Movies (5000 limit)</button>
        <br>
        <br>
        <textarea rows=20 cols=100 name="queryInput" id="queryInput" placeholder="Query" required></textarea> <br>
        <input type="submit" id="node1-submit" value="QUERY" class="nodeBtns">

        <div>
            <span><h3>Number of Rows: </h3><h3 id="data-length">0</h3></span>
            <table id="movie-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Rank</th>
                </tr>
            </table>
        </div>
    </body>
</html>